.dropdown-menu {
    width: 300px;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    border-radius: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:active {
    cursor: pointer;
}

.box:hover::after {
    opacity: 1;
}

#preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    z-index: 1000;
}

.footer {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.grid-box {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.scrollable {
    height: calc(100% - 2rem);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
    opacity: 0.4;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    opacity: 1;
}

body {
    /*overflow: hidden;*/
}