body {
    font-family: 'Open Sans', sans-serif;
}

body.preloader-site {
    overflow: hidden;
}

.dropdown-menu {
    width: 300px;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    border-radius: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:active {
    cursor: pointer;
}

.box:hover::after {
    opacity: 1;
}

#preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    z-index: 1000000;
}

.footer {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.grid-box {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-box-fill-parent {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
}

@media only screen and (max-width: 768px) {
    .scrollable {
        height: auto !important;
        overflow: hidden !important;
    }
    #tabHeader {
        font-size: 2rem;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.scrollable {
    height: calc(100% - 2rem);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
    opacity: 0.4;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    opacity: 1;
}

.fill {
    height: 100%;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-10 {
    border-radius: 10px;
}

.progress {
    height: 10px;
}

/* HORIZONTAL SCROLL */

.horizontal-scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-scroll-wrapper .activityCard {
    padding: 2rem 2.5rem;
    background-color: white;
    border-radius: 15px;
    flex: 0 0 auto;
    margin-right: 1.5rem;
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #000 !important;
    text-decoration: none !important;
}

.horizontal-scroll-wrapper .activityCard:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.horizontal-scroll-wrapper .activityCard:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

/* APPLY CARD */

.applyCard {
    padding: 1.5rem 2.5rem;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.applyCard:hover {
    background-color: #f8f9fa;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.applyCard:active {
    background-color: #f7f7f7;
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}

/* ZOOM */

.zoom {
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
    color: #f8f9fa;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.zoom:active {
    color: #f7f7f7;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}
